/*
 * @package    System - JLSitemap Cron Plugin
 * @version    1.10.2
 * @author     Joomline - joomline.ru
 * @copyright  Copyright (c) 2010 - 2020 Joomline. All rights reserved.
 * @license    GNU/GPL license: http://www.gnu.org/copyleft/gpl.html
 * @link       https://joomline.ru/
 */

[data-input-link] {
	display: block;
	padding: 10px;
	background: #fff;
	color: #666;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}

[data-input-link] .title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

[data-input-link] .input code {
	display: block;
	width: 100%;
	padding: 5px 10px;
	box-sizing: border-box;
}

[data-input-link] .description {
	margin-top: 10px;
}