/*******************************************
***          YT Framework: css          ***
*******************************************/


/* Medium devices Desktops  
// ------------------*/
@media (min-width: 980px) and (max-width: 1199px) {
    li.level1.havechild {
        display: none;
    }

}

/* Small devices Tablets	
// ------------------*/
@media (min-width: 768px) and (max-width: 979px) {
    li.level1.havechild {
        display: none;
    }
}

/* Extra small devices Phones
// ------------------*/
@media (max-width: 767px) {
    li.level1.havechild {
        display: block;
    }
}

li.level1.havechild {
    display: none;
}

#meganavigator li.level1 > .item-link {
    color: #000000 !important;
    font-size: large;
    /*font-weight: bold;*/
}

.modcontent > a {
    color: black;
}

a.storegkconcept {
    color: black;
}

h6.masonry-title {
    color: black;
}

.masonry-content > p {
    color: black;
}

.welovewhatwedo > h3 {
    background-color: #67a557 !important;
    color: white !important;
}

#yt_header {
    padding: 10px 0 20px;
    /* background-color: #67a557 !important; */
    color: #494949;
    border: #494949 1px solid;
    z-index: 2;
}

#yt_spotlight1 {
    background-color: #67a557 !important;
    margin-bottom: 30px;
}

.jd-popx-image-container {
    display: none !important;
}

.bg-dark .jd-popx-form-title, .bg-dark .jd-popx-form-subtitle {
    color: black !important;
}

div#main-top-right {
    padding: 0px 0px;
}

.modcontent.welove {
    font-size: 20px;
    font-weight: 200;
    font-family: Myriad Pro;
    text-align: justify;
}

h3.modtitle.we {
    font-size: -webkit-xxx-large;
    font-size: 20px;
    text-align: initial;
    text-transform: uppercase;
    padding: 0px 15px;
}

.module.welovewhatwedo {
    background-color: unset;
}

.categorybig .owl-carousel .owl-item {
    background-color: #fff;

}

.categorybig.module.sjexslidervm .sj-extra-slider .extraslider-inner {
    background-color: unset;
}

ul.bs-items {
    background-color: #fff;
}

.bs-header {
    background-color: #fff;
}

.newblogs h3.modtitle {
    color: black;
    font-size: 20px;
    font-style: inherit;
    /* float: left; */
    margin: 0px 25px !important;
    padding: 20px 0px 0px 0px !important;
}

.views h3.modtitle {
    color: black;
    font-size: 20px;
    font-style: inherit;
    /* float: left; */
    margin: 0px 25px !important;
    padding: 20px 0px 0px 0px !important;
}

.note h3.modtitle {
    color: black;
    font-size: 20px;
    font-style: inherit;
    /* float: left; */
    margin: 0px 25px !important;
    padding: 20px 0px 0px 0px !important;
}

.note a.vcat {
    visibility: collapse;
}

.newblogs a.vcat {
    visibility: collapse;
}

.views a.vcat {
    visibility: collapse;
}

.keywords span.name {
    border: #c1c1c1 1px solid;
    background-color: #fff;
    padding: 15px 5px;
    margin: 0px 3px;
}

.module.modkeywords {
    background-color: unset;
}

.module.modkeywords {
    background-color: unset;
}

div#top-right {
    margin: 5px 0px;
}

section#yt_top {
    background-color: #F4F4F2 !important;
}

div#top-right h3.modtitle {
    font-size: 22px;
    /* color: black; */
}

input.btn.btn-primary.button.subbutton {
    border-radius: 20px;
}

span.Priceproduct_price {
    text-decoration: line-through;
    font-size: 13px;
    /* color: black; */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
span.PricesalesPrice.percent {
    color: black !important;
    float: left;
    padding: 0px 0px 0px 100px;
    margin: -22px;
    font-size: 13px !important;
}

.product-short-description .Priceproduct_price {
    position: absolute;
    margin: -8px 0px 0px 52px;
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
    width: max-content;
    color: #BFBFC1 !important;
}

span.PricesalesPrice.percent {
    color: #FF4100 !important;
    width: max-content;
    margin: -15px 0px 2px -65px;
    font-weight: 700;
    font-size: 13px !important;
}

.savemoney {
    margin: 0px 0px 0px 30px;
}

.savemoney span.PricediscountAmount {
    position: absolute;
    margin: -15px 0px 0px 3px;
    font-weight: 400;
    font-size: 15px;
}

button#checkexampleModalScrollable {
    color: black;
    background-color: #fff;
    border-radius: 10px;
    font-size: 20px;
    text-transform: capitalize;
}

.col-sm-12.col-md-4.vm-product-details-container {
    background-color: #fff;
}

#main-bottom .module {
    border: unset;
}

#main-bottom h3.modtitle {
    border: unset;
}

span.PricesalesPrice.percent.home {
    margin: -22px;
    color: black !important;
    font-weight: 500 !important;
    font-size: 12px !important;
}

#acym_module_formAcym32241 {
    float: right;
    margin: 10px;
}

.product-short-description.productdetailservice {
    border: #494949 2px solid;
    border-radius: 25px;
    padding: 10px;
}

.col-sm-12.col-md-8.vm-product-images-container {
    z-index: 99;
}

#imagesmobile {
    display: none;
}
#mobile-bottom-nav{
    display: none !important;
}
@media only screen and (max-width: 760px) {
    #mobile-bottom-nav{
        display: block !important;
    }
}

@media (max-width: 1024px) {
    #imagesdestop {
        display: block;
    }

    #imagesmobile {
        display: none;
    }
    #mobile-bottom-nav{
        display: block !important;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #imagesdestop {
        display: none;
    }

    #imagesmobile {
        display: block;
    }
    #mobile-bottom-nav{
        display: none !important;
    }
}

@media (max-width: 767px) {
    #imagesdestop {
        display: none !important;
    }

    #imagesmobile {
        display: block !important;
    }
    #top-left .modtitle {
        float: left !important;
        margin: 10px 0px !important;
    }
    .acym_module{
        margin: 20px 0px !important;
    }
    .col-1-5 {
        width: 16% !important;
    }
    ul.banner.banner-slth1 {
        display: none !important;
    }

}

@media (max-width: 480px) {
    #yt_logo {
        display: none;
    }

    #top-left{
         display: block !important;
    }
    li.col-1-5 {
        width: 16% !important;
        display: inline-grid !important;

        /*width: 21% !important;*/
        /*display: table !important*/
    }
    .keywords span.name {
        border: #c1c1c1 1px solid;
        background-color: #fff;
        padding: 10px 2px;
        margin: 0px 3px;
    }
    ul.services_home1.keywords li {
        float: left !important;
    }
    .col-1-5 {
        width: 16% !important;
    }
    ul.banner.banner-slth1 {
        display: none !important;
    }
    .services_home1 li {
        margin: 0px !important;
        padding: 0px !important;
    }
}

@media (max-width: 360px) {
    #imagesdestop {
        display: none !important;
    }

    #imagesmobile {
        display: block !important;
    }

    #yt_logo {
        display: none;
    }
    ul.services_home1.keywords li {
        float: left !important;
    }
    ul.banner.banner-slth1 {
        display: none !important;
    }
}
@media (max-width: 991px) and (min-width: 768px){
    #top-left .modtitle {
        float: left !important;
        margin: 10px !important;
    }
    ul.banner.banner-slth1 {
        display: none !important;
    }
    .acym_module{
        margin: 17px 0px 0px 0px !important;
    }
    #mobile-bottom-nav{
        display: block !important;
    }
}

.module.sjsearchvmpro .sj-search-pro-wrapper .search .sj-seach-autocomplete .button-search {
    background-color: #FFDD00;
    color: #fff;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.col-1-5 {
    /*flex: 0 0 12.3%;*/
    max-width: 10.3%;
    position: inherit;
    float: left !important;
    width: 15% !important;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v55/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.mobile-bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    will-change: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    display: -webkit-box;
    display: flex;
    height: 50px;
    box-shadow: 0 -2px 5px -2px #333;
    background-color: #fff;
}
.mobile-bottom-nav__item {
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-align: center;
    font-size: 12px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}
.mobile-bottom-nav__item--active {
    color: #51A54C;
}
.mobile-bottom-nav__item-content {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
.banner-slth1 img {
    max-width: -webkit-fill-available;
    height: 200px !important;
}