/*
 * @package    JLSitemap Component
 * @version    1.10.2
 * @author     Joomline - joomline.ru
 * @copyright  Copyright (c) 2010 - 2020 Joomline. All rights reserved.
 * @license    GNU/GPL license: http://www.gnu.org/copyleft/gpl.html
 * @link       https://joomline.ru/
 */

#controlPanel {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

#controlPanel .main {
	flex: 1;
	max-width: 100%;
}

@media (min-width: 768px) {
	#controlPanel .main {
		margin: 0 15px 30px;
	}
}

#controlPanel .main .actions {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

#controlPanel .main .action {
	display: block;
	color: #666;
	text-decoration: none;
	outline: none;
	background: #fff;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}

#controlPanel .main .action {
	display: inline-block;
	box-sizing: border-box;
	width: 275px;
	max-width: 100%;
	margin: 0 15px 30px;
}

#controlPanel .main .actions a.action:hover,
a#controlPanel .main .action:focus,
a#controlPanel .main .action:active {
	background-color: #fff;
	box-shadow: 0 14px 25px rgba(0, 0, 0, .16);
	color: #666;
	text-decoration: none;
	outline: none;
}

#controlPanel .main .action .title {
	display: block;
	font-size: 16px;
	padding: 10px;
	text-align: center;
}

#controlPanel .main .action.error .title,
#controlPanel .main .action.error .head .icon {
	color: #f0506e;
}

#controlPanel .main .action .head {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 135px;
	color: #666;
	text-align: center;
	background: #f0f0f0;
}

#controlPanel .main .action.not-active .head {
	opacity: 0.3;
}

#controlPanel .main .action.generation .head {
	background: #7ac143;
	color: #fafafa;
}

#controlPanel .main .action .head .icon {
	display: inline-block;
	max-height: 80px
}

#controlPanel .main .action .head .icon > svg {
	stroke: currentcolor;
	fill: currentcolor;
	height: 80px;
}

#controlPanel .main .action .head .badge {
	display: inline-block;
	position: absolute;
	padding: 5px 10px;
	top: 0;
	right: 0;
	color: #999;
	font-size: 14px;
	font-weight: normal;
	border-radius: 0;
	background: #fff;
}

#controlPanel .sidebar {
	display: inline-block;
	box-sizing: border-box;
	max-width: 100%;
}

@media (min-width: 768px) {
	#controlPanel .sidebar {
		margin: 0 0 30px 15px;
		width: 520px;
	}
}

#controlPanel .sidebar .wrapper {
	display: block;
	padding: 20px;
	font-size: 16px;
	text-align: center;
	background: #fff;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}

#controlPanel .sidebar .wrapper h3 {
	font-size: 20px;
	margin-top: 30px;
}

#controlPanel .sidebar .wrapper h3:first-child {
	margin-top: 0;
}

#controlPanel .sidebar .wrapper iframe {
	margin-top: 10px;
}

#system-message-container {
	width: 100%;
}

#systemMessages {
	margin-bottom: 30px;
}

#systemMessages .message {
	position: relative;
	margin: 0 0 15px;
	padding: 15px 15px 15px 30px;
	color: #666;
	font-size: 16px;
	line-height: 1.5;
	border-left: 4px solid #ddd;
	background: #fff;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}

#systemMessages .message.notice {
	border-color: #0074d9;
}

#systemMessages .message.success {
	border-color: #7ac143;
}

#systemMessages .message.warning {
	border-color: #ffdc00;
}

#systemMessages .message.error {
	border-color: #ff4136;
}