.yt-skills {
  font-weight: bold;
  color: #333;
}
.yt-skills .form-group {
  margin-bottom: 25px;
}
.yt-skills .form-group strong {
  text-transform: capitalize;
}
.yt-skills .form-group a{
	color: #2d2d2d;
}
.yt-skills .form-group a:hover{
	text-decoration: underline;
}