<td class="col-1">{{order.virtuemart_order_id}}</td>
<td class="col-2">{{order.order_number}}</td>
<td class="col-3">{{order.customer}}</td>

<td class="col-2">{{order.order_total | number}}<br>{{order.order_subtotal | number}}</td>
<td class="col-2">{{order.order_status_name}}</td>
<td class="col-2">{{order.created_on}}</td>
